In [750]:
# import the pre_defined files
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [751]:
# Reading the dataset
df=pd.read_excel('/content/Sample_Longlist_Data.xlsx')

In [752]:
# I want to see the head of the dataset
df.head()

  Date Added  ...                                   Sample Brand URL
0 2020-11-15  ...  https://www.amazon.de/-/en/stores/YAMAZAKI/pag...
1 2020-11-15  ...  https://www.amazon.de/-/en/stores/tesa/page/12...
2 2020-11-15  ...  https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...
3 2020-11-15  ...  https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...
4 2020-11-15  ...  https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...

[5 rows x 18 columns]

In [753]:
#I want to see the tail of the dataset
df.tail()

     Date Added  ...                                   Sample Brand URL
1834 2020-11-15  ...  https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...
1835 2020-11-15  ...  https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...
1836 2020-11-15  ...  https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...
1837 2020-11-15  ...  https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...
1838 2020-11-15  ...  https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...

[5 rows x 18 columns]

In [754]:
# I want to see the shape of the dataset
df.shape

(1839, 18)

# After careful observation i found these things I must do

In [755]:
# Preprocessing Steps
# Step 1 : To extract the final value in product count column
# Step2 : Extract the positive % value calculate on the given value
# Step 3 : Extract the seller E-mail ID's and Phone numbers
# Step 4: Extract the country and exclude the china sellers
# Step 5 : Finding the best selling product based on hero product rating

# STEP-1: To extract the final value in product count column

In [756]:
df['sellerproductcount']=df['sellerproductcount'].str.replace(',','')
df['sellerproductcount'] = df.sellerproductcount.str.extract('(\d+) results')

In [757]:
# sanity check the column
df['sellerproductcount']

0       100000
1          NaN
2         2000
3          123
4         1000
         ...
1834      2000
1835      5000
1836     10000
1837       473
1838     20000
Name: sellerproductcount, Length: 1839, dtype: object

# STEP-2: Extract the positive % value calculate on the given value

In [758]:
df['sellerratings'] = df['sellerratings'].str.replace("%","")
# removing the % symbol in sellerratings column

In [759]:
df['sellerratings1']=df['sellerratings'].str.extract('(\d+)')
# after removing % then we are extracting the value(like 88 value is extracted insted of 88%)

In [760]:
# Now i want to drop null values and change the datatype
df['sellerratings1']=df['sellerratings1'].dropna(how='any').astype(int)

# Now I  want to extract the ratings

In [761]:
# Now I am extract the rating values so I want to remove the '("   and putting # symbol for instead of "(" 
df['sellerratings12'] = df.sellerratings.str.replace('(','#')

In [762]:
# here I am extracting the value after # symbol
df['sellerratings121'] = df['sellerratings12'].str.extract(r'(?<=#)(\d+)')

In [763]:
# converting the data type
df['Total_ratings']=df['sellerratings121'].dropna(how='any').astype(int)

In [764]:
# Now I am calculating the positive percentage
# 88% means how much the value
df['Perc_Good'] = (df['sellerratings1'] /100) * df['Total_ratings']

In [765]:
# apply the floor value to Positive percentage
df['Number_of_Positive_Sellerratings']=df['Perc_Good'].apply(np.floor)

In [766]:
df['negative'] = df['Total_ratings']- df['Perc_Good']
# calculate negative rating also
df['Number_of_negative_Sellerratings']=df['negative'].apply(np.floor)
# applying the ceil value

# STEP-3: Extract the country and exclude the china sellers

In [767]:
# Extract the sellers register in which country and exclude the china sellers
k=[]
for  i in df['businessaddress']:
  i= str(i)
  k.append(i[-2:])
df['businessaddress'] =k
df = df[df.businessaddress != 'CN']

# STEP-4: Finding the best selling product based on hero product rating

In [768]:
# Here I am finding the Which product is having best ratings 
df['Which_product_having_best_rating'] = np.where(df['Hero Product 1 #ratings'] > df['Hero Product 2 #ratings'],'Hero Product 1','Hero Product 2')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [769]:
# Here I want to find the their respected ratings for each product
df['best_ratings_for_each_product'] = np.where(df['Hero Product 1 #ratings'] > df['Hero Product 2 #ratings'],df['Hero Product 1 #ratings'] , df['Hero Product 2 #ratings'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# STEP-5: Extract the seller E-mail ID's and Phone numbers

In [770]:
# finding the emails and adding to the dataframe
import re
def find_email(sellerdetails):
    email = re.findall(r'[\w\.-]+@[\w\.-]+',str(sellerdetails))
    return ",".join(email)
df['email']=df['sellerdetails'].apply(lambda x: find_email(x))
print("\Extracting email from dataframe columns:")
print(df['email'])

\Extracting email from dataframe columns:
0                                   jadgemaello@gmail.com
1       info@1a-handelsagentur.de,info@1a-handelsagent...
5
14                                 webmaster@9pm-store.de
19                                       abc-markt@web.de
                              ...
1808
1813                info@zurrosakuh.de,info@zurrosakuh.de
1814    r.joormann@googlemail.com,r.joormann@googlemai...
1815
1828
Name: email, Length: 602, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [771]:
# telefone having different names so i can change all names and give the single name
df['sellerdetails']=df.sellerdetails.str.replace('Telefonnummer:','Telefone')
df['sellerdetails']=df.sellerdetails.str.replace('telefonnummer:','Telefone')
df['sellerdetails']=df.sellerdetails.str.replace('telfone:','Telefone')
df['sellerdetails']=df.sellerdetails.str.replace('Tel.:','Telefone')
df['sellerdetails']=df.sellerdetails.str.replace('Tel:','Telefone')
df['sellerdetails']=df.sellerdetails.str.replace('tel:','Telefone')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [772]:
# finding the Mobile numbers of the sellers
def find_telefone(sellerdetails):
    Telefone = re.findall(r'(?<=Telefone )(\d+)',str(sellerdetails))
    return ",".join(Telefone)
df['Telefone']=df['sellerdetails'].apply(lambda x:find_telefone(x))
print("\Extracting email from dataframe columns:")
print(df['Telefone'])

\Extracting email from dataframe columns:
0
1           039932
5
14
19      0570591155
           ...
1808
1813
1814
1815
1828
Name: Telefone, Length: 602, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

# Completed the all steps in the assignmet and

In [773]:
# Now removing the Unnecessary columns in the dataset
df.head()

   Date Added  ...    Telefone
0  2020-11-15  ...
1  2020-11-15  ...      039932
5  2020-11-15  ...
14 2020-11-15  ...
19 2020-11-15  ...  0570591155

[5 rows x 30 columns]

In [774]:
de = ['sellerlink','sellerlink-url','sellerstorefront-url','sellerratings','sellerratings121','sellerdetails','seller business name','Sample brand name','Sample Brand URL','sellerratings12','Perc_Good','negative',]

# Here I am dropping the columns Based on assignment only

In [775]:
# droping the columns
df.drop(de,axis=1 , inplace=True)

In [776]:
df=df.rename(columns={'Date Added': 'Date_added','category':'Category','Count of seller brands':'Count_of_seller_brands','Max % of negative seller ratings - last 30 days':'Max_%_of_negative_seller_ratings_last_30_days','Max % of negative seller ratings - last 90 days':'Negative%_of _last_90_days','Max % of negative seller ratings - last 12 months' :'Last_12_months_negative%'})

In [777]:
df.head()

   Date_added  ...    Telefone
0  2020-11-15  ...
1  2020-11-15  ...      039932
5  2020-11-15  ...
14 2020-11-15  ...
19 2020-11-15  ...  0570591155

[5 rows x 18 columns]

In [778]:
# I want to find the null values in the dataset
df.isnull().sum()

Date_added                                         0
Category                                           0
sellerproductcount                               121
businessaddress                                    0
Count_of_seller_brands                             0
Max_%_of_negative_seller_ratings_last_30_days      0
Negative%_of _last_90_days                         0
Last_12_months_negative%                           0
Hero Product 1 #ratings                            0
Hero Product 2 #ratings                            0
sellerratings1                                    43
Total_ratings                                     43
Number_of_Positive_Sellerratings                  43
Number_of_negative_Sellerratings                  43
Which_product_having_best_rating                   0
best_ratings_for_each_product                      0
email                                              0
Telefone                                           0
dtype: int64

In [779]:
# Now I am converting the data type of sellerproductcount column
df['sellerproductcount']=round(df.sellerproductcount.astype(float),0)

# Treatment With the missing values

In [780]:
# filling the missing values
miss_values= ['sellerproductcount','sellerratings1','Total_ratings','Number_of_Positive_Sellerratings','Number_of_negative_Sellerratings']

In [781]:
# filling all columns all missing values
for i in miss_values:
  df[i]=df[i].fillna(df[i].mean())

In [782]:
#Know checking 
df.isnull().sum()

Date_added                                       0
Category                                         0
sellerproductcount                               0
businessaddress                                  0
Count_of_seller_brands                           0
Max_%_of_negative_seller_ratings_last_30_days    0
Negative%_of _last_90_days                       0
Last_12_months_negative%                         0
Hero Product 1 #ratings                          0
Hero Product 2 #ratings                          0
sellerratings1                                   0
Total_ratings                                    0
Number_of_Positive_Sellerratings                 0
Number_of_negative_Sellerratings                 0
Which_product_having_best_rating                 0
best_ratings_for_each_product                    0
email                                            0
Telefone                                         0
dtype: int64

In [783]:
df.head()

   Date_added  ...    Telefone
0  2020-11-15  ...
1  2020-11-15  ...      039932
5  2020-11-15  ...
14 2020-11-15  ...
19 2020-11-15  ...  0570591155

[5 rows x 18 columns]

# Now I am finding the best sellers based on Number of products selling and Positive rating

In [784]:
# finding the top 5 best sellers
df['top']= round((df['sellerproductcount'] * df['Number_of_negative_Sellerratings'])/2,2)

In [785]:
# sorting the values
df.sort_values('top',ascending=False)

     Date_added Category  ...  Telefone         top
712  2020-11-15   Garden  ...            54000000.0
23   2020-11-15   Garden  ...            18800000.0
726  2020-11-15   Garden  ...            15920000.0
1007 2020-11-15   Garden  ...            13410000.0
36   2020-11-15   Garden  ...     06825  11575000.0
...         ...      ...  ...       ...         ...
913  2020-11-15   Garden  ...                   0.0
157  2020-11-15   Garden  ...      0511         0.0
213  2020-11-15   Garden  ...                   0.0
208  2020-11-15   Garden  ...     04443         0.0
170  2020-11-15   Garden  ...                   0.0

[602 rows x 19 columns]

In [786]:
# taking the top 5 best sellers only
df['top'].nlargest(n=5)

712     54000000.0
23      18800000.0
726     15920000.0
1007    13410000.0
36      11575000.0
Name: top, dtype: float64

# The above sellers are the best sellers in the given data

#                             Thank you